@using Microsoft.AspNetCore.Identity
@using MoviesApp.Models
@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li><a asp-action="Index">Профиль</a></li>
    <li><a asp-action="ChangePassword">Пароль</a></li>
</ul>